(
    content_origin: (0, 0),
    device_rect: (
        origin: (0, 0),
        size: (1920, 1050),
    ),
    layer: 0,
    passes: [
        (
            kind: MainFramebuffer(
                main_target: (
                    alpha_batch_containers: [
                    ],
                    vertical_blurs: [
                    ],
                    horizontal_blurs: [
                    ],
                    readbacks: [
                    ],
                    scalings: {
                    },
                    svg_filters: [
                    ],
                    blits: [
                    ],
                    outputs: [
                    ],
                    alpha_tasks: [
                        (
                            index: 0,
                        ),// [0]
                    ],
                    screen_size: (1920, 1050),
                    used_rect: (
                        origin: (0, 0),
                        size: (0, 0),
                    ),
                ),
            ),
            tasks: [
                (
                    index: 0,
                ),// [0]
            ],
            screen_size: (1920, 1050),
        ),// [0]
    ],
    transform_palette: [
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
        ),// [0]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
        ),// [1]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5, 0, 1),
        ),// [2]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -66, 0, 1),
        ),// [3]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -66, 0, 1),
        ),// [4]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -66, 0, 1),
        ),// [5]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 66, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -66, 0, 1),
        ),// [6]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1844, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1844, 0, 1),
        ),// [7]
        (
            transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 225, 5, 0, 1),
            inv_transform: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -225, -5, 0, 1),
        ),// [8]
    ],
    render_tasks: (
        tasks: [
            (
                location: Fixed((
                    origin: (0, 0),
                    size: (1920, 1050),
                )),
                children: [
                ],
                kind: Picture((
                    pic_index: (15),
                    can_merge: true,
                    content_origin: (0, 0),
                    uv_rect_handle: (
                        location: None,
                    ),
                    surface_spatial_node_index: (0),
                    uv_rect_kind: Rect,
                    device_pixel_scale: (1, ()),
                    vis_mask: (
                        bits: 65535,
                    ),
                    scissor_rect: None,
                )),
                clear_mode: Transparent,
                saved_index: None,
            ),// [0]
        ],
        task_data: [
            (
                data: (0, 0, 1920, 1050, 0, 1, 0, 0),
            ),// [0]
        ],
        cacheable_render_tasks: [
        ],
        next_saved: (0),
        frame_id: (21433),
    ),
    prim_headers: (
        headers_int: [
        ],
        headers_float: [
        ],
    ),
    gpu_cache_frame_id: (21433),
    deferred_resolves: [
    ],
    has_texture_cache_tasks: false,
    has_been_rendered: false,
    debug_items: [
    ],
    composite_state: (
        native_tiles: [
        ],
        opaque_tiles: [
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 0,
                    ),
                ),
                rect: (
                    origin: (0, 0),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 0),
                    size: (1920, 1050),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (0),
            ),// [0]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 1,
                    ),
                ),
                rect: (
                    origin: (1024, 1024),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 0),
                    size: (1920, 1050),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (0),
            ),// [1]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 4,
                    ),
                ),
                rect: (
                    origin: (1024, 0),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 0),
                    size: (1920, 1050),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (0),
            ),// [2]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 5,
                    ),
                ),
                rect: (
                    origin: (0, 1024),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 0),
                    size: (1920, 1050),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (0),
            ),// [3]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 8,
                    ),
                ),
                rect: (
                    origin: (0, 512),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 0),
                    size: (1920, 1050),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (0),
            ),// [4]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 9,
                    ),
                ),
                rect: (
                    origin: (1024, 512),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 0),
                    size: (1920, 1050),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (0),
            ),// [5]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 12,
                    ),
                ),
                rect: (
                    origin: (0, 66),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 66),
                    size: (1920, 946),
                ),
                dirty_rect: (
                    origin: (0, 66),
                    size: (0, 0),
                ),
                z_id: (2),
            ),// [6]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 13,
                    ),
                ),
                rect: (
                    origin: (1024, 66),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 66),
                    size: (1920, 946),
                ),
                dirty_rect: (
                    origin: (0, 66),
                    size: (0, 0),
                ),
                z_id: (2),
            ),// [7]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 14,
                    ),
                ),
                rect: (
                    origin: (0, 578),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 66),
                    size: (1920, 946),
                ),
                dirty_rect: (
                    origin: (0, 66),
                    size: (0, 0),
                ),
                z_id: (2),
            ),// [8]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 15,
                    ),
                ),
                rect: (
                    origin: (1024, 578),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (0, 66),
                    size: (1920, 946),
                ),
                dirty_rect: (
                    origin: (0, 66),
                    size: (0, 0),
                ),
                z_id: (2),
            ),// [9]
        ],
        alpha_tiles: [
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 2,
                    ),
                ),
                rect: (
                    origin: (0, 0),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (225, 0),
                    size: (1695, 33),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (3),
            ),// [0]
            (
                surface: Texture(
                    surface: TextureCache(
                        texture: TextureCache((1), Rgba),
                        layer: 3,
                    ),
                ),
                rect: (
                    origin: (1024, 0),
                    size: (1024, 512),
                ),
                clip_rect: (
                    origin: (225, 0),
                    size: (1695, 33),
                ),
                dirty_rect: (
                    origin: (0, 0),
                    size: (0, 0),
                ),
                z_id: (3),
            ),// [1]
        ],
        clear_tiles: [
        ],
        z_generator: (
            base: 0,
            next: 4,
        ),
        dirty_rects_are_valid: true,
        native_surface_updates: [
        ],
        compositor_kind: Draw(
            max_partial_present_rects: 0,
        ),
        picture_caching_is_enabled: true,
        global_device_pixel_scale: (1, ()),
        occluders: [
            (
                slice: 0,
                device_rect: (
                    origin: (0, 0),
                    size: (1920, 1050),
                ),
            ),// [0]
            (
                slice: 1,
                device_rect: (
                    origin: (0, 66),
                    size: (1920, 946),
                ),
            ),// [1]
            (
                slice: 2,
                device_rect: (
                    origin: (0, 66),
                    size: (1920, 946),
                ),
            ),// [2]
            (
                slice: 4,
                device_rect: (
                    origin: (225, 4),
                    size: (225, 29),
                ),
            ),// [3]
        ],
    ),
)
