(
    transform_properties: {
        (
            namespace: (3008),
            uid: 22,
        ): (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
    },
    float_properties: {
    },
    current_properties: (
        transforms: [
            (
                key: (
                    id: (
                        namespace: (3008),
                        uid: 22,
                    ),
                    _phantom: (),
                ),
                value: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
            ),// [0]
        ],
        floats: [
        ],
    ),
    pending_properties: Some((
        transforms: [
            (
                key: (
                    id: (
                        namespace: (3008),
                        uid: 22,
                    ),
                    _phantom: (),
                ),
                value: (1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1),
            ),// [0]
        ],
        floats: [
        ],
    )),
)
